<% content_for :title do %>
    <%= t('.sales_orders') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-file-text"></i> <%= t('.sales_orders') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create_customer_order'),
        href: erp_orders.new_backend_order_path(type: Erp::Orders::Order::TYPE_SALES_ORDER),
        class: 'btn-noborder',
        target: '_blank'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (@period.present? ? @period.id : ''),
                text: (@period.present? ? @period.name : ''),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer',
                label: t('.filter_customer'),
                placeholder: t('.choose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json',
                    is_customer: true,
                    contact_id: Erp::Contacts::Contact.get_main_contact),
            }) %>
        </div>
    </div>
    <% if Erp::Core.available?("ortho_k") %>
        <div class="row top-datalist">
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'doctor',
                    label: 'Bác sĩ',
                    placeholder: 'Tìm theo bác sĩ',
                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true, contact_group_id: Erp::Contacts::ContactGroup::GROUP_DOCTOR),
                }) %>
            </div>
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'patient',
                    label: 'Bệnh nhân',
                    placeholder: 'Tìm theo bệnh nhân',
                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true, contact_group_id: Erp::Contacts::ContactGroup::GROUP_PATIENT),
                }) %>
            </div>
        </div>
    <% end %>
<% end %>

<%= erp_datalist(
    url: erp_accounting.sales_orders_list_backend_sales_orders_path,
    keyword: true,
    actions: [

    ],
    filters: [
        {
            text: 'Bán lẻ (PK)', name: 'payment_for', value: Erp::Orders::Order::PAYMENT_FOR_ORDER, checked: true
        },
        {
            text: 'Công nợ', name: 'payment_for', value: Erp::Orders::Order::PAYMENT_FOR_CONTACT, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.overdue'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_OVERDUE, checked: true
        },
        {
            text: t('.paid'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_PAID, checked: false
        },
        {
            text: t('.debt'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_DEBT, checked: false
        },
        {
            text: t('.overpaid'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_OVERPAID, checked: false
        }
    ],
    columns: [
        {
            text: t('.order_code'), name: 'order_code', value: true, checked: true
        },
        {
            text: t('.customer'), name: 'customer', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        },
        {
            text: t('.paid'), name: 'paid', value: true, checked: true
        },
        {
            text: t('.remain'), name: 'remain', value: true, checked: true
        },
        {
            text: t('.order_date'), name: 'order_date', value: true, checked: true
        },
        {
            text: t('.debt_deadline'), name: 'deadline', value: true, checked: false
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: false
        },
        {
            text: t('.creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('.created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_orders_orders.order_date', sort_direction: 'desc' }
) %>
