<% tabid = unique_id %>
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= tabid %>_1" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                <%= t('.order_details') %>
            </a>
        </li>
        <li class="">
            <a href="#tab_<%= tabid %>_2" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                Giá & Chênh lệch
            </a>
        </li>
        <li class="">
            <a href="#tab_<%= tabid %>_3" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                <% if @order.payment_for == Erp::Orders::Order::PAYMENT_FOR_CONTACT %>
                    Chiết khấu KH
                <% else %>
                    Hoa hồng NV
                <% end %>
            </a>
        </li>
        <% if @order.payment_records.present? %>
        <li>
            <a href="#tab_<%= tabid %>_3" data-toggle="tab">
                <i class="glyphicon glyphicon-usd"></i>
                <%= t('.payment_details') %>
            </a>
        </li>
        <% end %>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= tabid %>_1">
            <table class="table table-bordered table-advance order-column">
                <thead class="flip-content">
                    <tr>
                        <th width="25%" class="text-left bg-yellow bg-font-yellow text-nowrap">Sản phẩm</th>
                        <th class="bg-yellow bg-font-yellow text-nowrap">ĐVT</th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap">Giá bán<sup>(1)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap">Số lượng<sup>(2)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="(3) = (1) x (2)">Thành tiền<sup>(3)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap">Giảm<sup>(4)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="Tổng tiền trước thuế: (5) = (3) - (4) + (5)">Tổng cộng<sup>(5)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap">Tiền VAT<sup>(6)</sup></th>
                        <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="Tổng cần thanh toán (đã gồm VAT): (7) = (5) + (6)">Tổng thanh toán<sup>(7)</sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-green" colspan="3"><strong> TỔNG CỘNG </strong></td>
                        <td class="bg-green text-right"><strong><%= @order.items_count %></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(@order.subtotal) %></strong></td>
                        <td class="bg-green text-right"><strong><%= @order.discount_amount == 0 ? '' : format_price(@order.discount_amount) %></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(@order.total_without_tax) %></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(@order.cache_tax_amount) %></strong></td>
                        <td class="bg-green text-right"><strong><%= format_price(@order.cache_total) %></strong></td>
                    </tr>
                    <% @order.order_details.each do |order_detail| %>
                        <tr>
                            <td class="text-left"><strong><%= order_detail.product_name %></strong></td>
                            <td class="text-left"><%= order_detail.product_unit_name %></td>
                            <td class="text-right"><%= format_price(order_detail.price) %></td>
                            <td class="text-right"><%= format_number(order_detail.quantity) %></td>
                            <td class="text-right"><%= format_price(order_detail.subtotal) %></td>
                            <td class="text-right"><%= order_detail.discount.nil? ? '' : format_price(order_detail.discount) %></td>
                            <td class="text-right"><%= format_price(order_detail.total_without_tax) %></td>
                            <td class="text-right"><%= format_price(order_detail.tax_amount) %></td>
                            <td class="text-right"><%= format_price(order_detail.total) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab_<%= tabid %>_2">
            <form class="ajax-form" target="_blank" action="<%= erp_accounting.ajax_update_order_backend_sales_orders_path(id: @order.id) %>" method="POST">
                <div class="ajax-content">
                    <%= render template: 'erp/accounting/backend/sales_orders/ajax_cost_tab' %>
                </div>
                <div class="text-left">
                    <input type='submit' class="btn green-seagreen" name="act_save_with_default" value="Cập nhật" />
                </div>
            </form>
        </div>

        <div class="tab-pane" id="tab_<%= tabid %>_3">
            <form class="ajax-form" target="_blank" action="<%= erp_accounting.ajax_commission_order_backend_sales_orders_path(id: @order.id) %>" method="POST">
                <div class="ajax-content">
                    <%= render template: 'erp/accounting/backend/sales_orders/ajax_commission_tab' %>
                </div>
                <div class="text-right">
                    <input type='submit' class="btn green-seagreen" name="act_save_with_default" value="Cập nhật" />
                </div>
            </form>
        </div>

        <% if @order.payment_records.present? %>
        <div class="tab-pane" id="tab_<%= tabid %>_3">
            <table class="table table-bordered table-advance order-column">
                <thead class="flip-content">
                    <tr>
                        <th width="15%" class="text-left bg-yellow bg-font-yellow text-nowrap"><%= t('.payment_code') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.payment_type') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.contact') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.amount') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.payment_date') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.description') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.accountant') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.creator') %></th>
                        <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.actions') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.payment_records.each do |payment_record| %>
                        <tr>
                            <td class="text-left">
                                <strong><%= link_to payment_record.code, erp_payments.backend_payment_record_path(payment_record), target: '_blank' %></strong>
                            </td>
                            <td class="text-left"><%= payment_record.is_receipt_voucher? ? t('.receive') : t('.pay') %></td>
                            <td class="text-left"><%= payment_record.customer_name %></td>
                            <td class="text-right"><%= format_price(payment_record.amount) %></td>
                            <td class="text-right"><%= format_date(payment_record.payment_date) %></td>
                            <td class="text-right"><%= payment_record.description %></td>
                            <td class="text-center">
                                <%= payment_record.accountant_name %>
                            </td>
                            <td class="text-center">
                                <%= payment_record.creator_name %>
                            </td>
                            <td>
                                <%= accounting_payment_record_dropdown_actions(payment_record) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% end %>
    </div>
</div
