<% if @customer.present? and (@form_date.present? or @to_date.present?) %>    
    <div class="tabbable-custom">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">
                    Giảm giá
                </a>
            </li>
            <li>
                <a href="#tab_2" data-toggle="tab">
                    Thống kê BN & Loại hàng
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <form class="update-discount-form" action="<%= erp_accounting.update_discount_run_backend_sales_orders_path %>" method="POST">
                    <h4 class="profile-desc-title bold"><i class="glyphicon glyphicon-hand-right"></i> Chi tiết bán hàng</h4>
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr class="bg-white">
                                <td class="text-center bold" colspan="4">Tổng cộng</td>
                                <td class="stock-num text-center bold font-red-thunderbird"><%= @orders.sum(&:items_count) %></td>
                                <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@orders.sum(&:subtotal)) %></td>
                                <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@orders.sum(&:discount_amount)) %></td>
                                <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@orders.sum(&:total_without_tax)) %></td> <!-- @todo sum total for orders -->
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Mã hóa đơn</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Ngày đặt hàng</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Sản phẩm</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Đơn giá</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Số lượng</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Trước giảm</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">
                                    Giảm giá
                                    <% if @discount_percent.present?  %>
                                        (<%= @discount_percent %>%)
                                    <% end %>
                                </th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Sau giảm</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">N.viên kinh doanh</th>
                                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center"><%= t('.actions') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |order| %>
                                <tr>
                                    <td class="bg-grey bg-font-grey text-left text-nowrap bold"><%= order_link(order) %></td>
                                    <td class="bg-grey bg-font-grey text-center bold"><%= format_date(order.order_date) %></td>
                                    <td class="bg-grey bg-font-grey text-left" colspan="6">
                                        <% if Erp::Core.available?("ortho_k") %>
                                            <% if order.patient.present? or order.patient_state.present? %>
                                                <strong>BN: </strong>
                                                <% if order.patient.present? and order.patient_state.present? %>
                                                    <%= order.patient_name %> (<%= order.patient_state_name %>)
                                                <% else %>
                                                    <%= order.patient_name %><%= order.patient_state_name %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <!--<td class="bg-grey bg-font-grey text-center bold"><%= order.items_count %></td>
                                    <td class="bg-grey bg-font-grey text-right bold"><%= format_price(order.discount_amount) %></td>
                                    <td class="bg-grey bg-font-grey text-right bold"><%= format_price(order.total_without_tax) %></td>-->
                                    <td class="bg-grey text-left"><%= order.employee_name %></td>
                                    <td class="bg-grey text-right">
                                        <%= accounting_order_dropdown_actions(order) %>
                                    </td>
                                </tr>
                                <% order.order_details.each do |order_detail| %>
                                    <tr>
                                        <td class="text-left" colspan="2"></td>
                                        <td class="text-left"><%= order_detail.product_name %></td>
                                        <td class=" text-right"><%= format_price(order_detail.price) %></td>
                                        <td class=" text-center"><%= order_detail.quantity %></td>
                                        <td class=" text-center"><%= format_price(order_detail.subtotal) %></td>
                                        <td class=" text-right" style="width: 100px;">                            
                                            <%= erp_form_control("number", {
                                                name: "order_details[#{order_detail.id}][discount]",
                                                label: '',
                                                value: order_detail.discount_amount
                                            }) %>
                                        </td>
                                        <td class=" text-right"><%= format_price(order_detail.total_without_tax) %></td>
                                        <td class="text-left" colspan="2"></td>
                                    </tr>
                                <% end %>
                            <% end %>
                            
                        </tbody>
                    </table>
                    
                    <button class="btn btn-danger">
                        Lưu giảm giá
                    </button>
                </form>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="profile-desc-title bold"><i class="glyphicon glyphicon-hand-right"></i> Thống kê TT BN</h4>
                        <table class="table table-bordered table-advance order-column">
                            <thead class="flip-content">
                                <tr class="bg-white">
                                    <td class="text-center bold">Tổng cộng</td>
                                    <td class="stock-num text-center bold font-red-thunderbird"><%= format_price(@pstates[:count]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@pstates[:amount]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(- @pstates[:after_amount] + @pstates[:amount]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@pstates[:after_amount]) %></td>
                                </tr>
                                <tr>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Trạng thái</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Số lượng</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Số tiền</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Giảm giá</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Sau giảm</th>
                                </tr>
                            </thead>
                            <% @pstates[:rows].each do |row| %>
                                <tr>
                                    <td class="text-left text-nowrap bold"><%= row[1][:state].present? ? row[1][:state].name : 'N/A' %></td>
                                    <td class="text-center"><%= row[1][:count] %></td>
                                    <td class="text-right"><%= format_price(row[1][:total_without_tax]) %></td>
                                    <td class="text-right"><%= format_price(-row[1][:after_total_without_tax] + row[1][:total_without_tax]) %></td>
                                    <td class="text-right"><%= format_price(row[1][:after_total_without_tax]) %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h4 class="profile-desc-title bold"><i class="glyphicon glyphicon-hand-right"></i> Thống kê TT BN</h4>
                        <table class="table table-bordered table-advance order-column">
                            <thead class="flip-content">
                                <tr class="bg-white">
                                    <td class="text-center bold">Tổng cộng</td>
                                    <td class="stock-num text-center bold font-red-thunderbird"><%= format_price(@categories_table[:count]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@categories_table[:amount]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(- @categories_table[:after_amount] + @categories_table[:amount]) %></td>
                                    <td class="stock-num text-right bold font-red-thunderbird"><%= format_price(@categories_table[:after_amount]) %></td>
                                </tr>
                                <tr>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Loại hàng</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Số lượng</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Số tiền</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Giảm giá</th>
                                    <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Sau giảm</th>
                                </tr>
                            </thead>
                            <% @categories_table[:rows].each do |row| %>
                                <tr>
                                    <td class="text-left text-nowrap bold"><%= row[1][:category].name %></td>
                                    <td class="text-center"><%= row[1][:count] %></td>
                                    <td class="text-right"><%= format_price(row[1][:total_without_tax]) %></td>
                                    <td class="text-right"><%= format_price(-row[1][:after_total_without_tax] + row[1][:total_without_tax]) %></td>
                                    <td class="text-right"><%= format_price(row[1][:after_total_without_tax]) %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div
    
    
    
    <hr>
    
    
<% else %>
    <div class="alert alert-warning">
        <p>Vui lòng chọn các tham số bắt buộc:
            <% if !@from_date.present? and !@to_date.present? %>
                <br>- <strong>Thời gian (không quá 1 tháng)</strong>
            <% end %>
            <% if !@customer.present? %>
               <br>- <strong>Khách hàng</strong>
            <% end %>
        </p>
    </div>
<% end %>